psutil>=5.9.0
pywin32>=306; platform_system == "Windows"
uiautomation>=2.0.29; platform_system == "Windows"
comtypes>=1.4.4; platform_system == "Windows"
pyobjc-core>=10.3,<11; platform_system == "Darwin" and python_version < "3.10"
pyobjc-framework-Cocoa>=10.3,<11; platform_system == "Darwin" and python_version < "3.10"
pyobjc-framework-CoreText>=10.3,<11; platform_system == "Darwin" and python_version < "3.10"
pyobjc-framework-ApplicationServices>=10.3,<11; platform_system == "Darwin" and python_version < "3.10"
pyobjc-framework-Quartz>=10.3,<11; platform_system == "Darwin" and python_version < "3.10"
pyobjc-core>=12.1,<13; platform_system == "Darwin" and python_version >= "3.10"
pyobjc-framework-Cocoa>=12.1,<13; platform_system == "Darwin" and python_version >= "3.10"
pyobjc-framework-CoreText>=12.1,<13; platform_system == "Darwin" and python_version >= "3.10"
pyobjc-framework-ApplicationServices>=12.1,<13; platform_system == "Darwin" and python_version >= "3.10"
pyobjc-framework-Quartz>=12.1,<13; platform_system == "Darwin" and python_version >= "3.10"
